!!!
html
  head
    title Akaunti
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    if require == 'OK'
      script(data-main="javascripts/main", src="javascripts/libs/require/require.js")
  body
    div.container!= body
