div.topbar
  div.topbar-inner
    div.container
      h3 
        a Akaunti
      ul.nav
        li
          a#income(href="#expenses-vs-income") Ingresos vs Gastos
        li
          a#categories(href="#categories") Categorías
        //  
          li
            a#new_categories(href="#newCategories") Nuevas categorías
div#main-container
